@use "../helpers/media-queries";
@use "../helpers/theme";

$_breakpoint: "tablet";

.bf-brochure {
  margin-block: var(--space-2xl);
  @include media-queries.query($from: $_breakpoint) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.bf-brochure__image {
  inline-size: 100%;
  aspect-ratio: 1;
  background-color: var(--color-canvas-background-alt);
  background-image: url("images/no-avatar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 0;
  object-fit: cover;
  @include media-queries.query($from: $_breakpoint) {
    inline-size: 50%;
  }
}

.bf-brochure__body {
  padding-block: var(--space-m);
  @include media-queries.query($from: $_breakpoint) {
    @include theme.shadow;
    flex-grow: 1;
    inline-size: 50%;
    max-inline-size: var(--grid-max-prose-width);
    margin-block: var(--space-s);
    margin-inline-start: calc(0px - var(--space-l));
    padding: var(--space-m);
    position: relative;
    border-block-start: var(--border-width-thick) solid var(--color-primary);
    background-color: var(--color-canvas-background);
  }
}

.bf-brochure:nth-of-type(even) {
  @include media-queries.query($from: $_breakpoint) {
    flex-direction: row-reverse;
    .bf-brochure__body {
      margin-inline-start: unset;
      margin-inline-end: calc(0px - var(--space-l));
    }
  }
}
