@use "../helpers/a11y";

.bf-button {
  display: inline-block;
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  border: var(--border-width-button) solid currentcolor;
  border-radius: 0.5rem;
  color: var(--color-link);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;

  &:hover {
    text-decoration-skip-ink: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }

  @supports (background-clip: border-area) {
    color: transparent;
    border-color: transparent;
    background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-accent)),
      linear-gradient(to bottom right, var(--color-primary), var(--color-primary-accent));
    background-clip: border-area, text;
    background-origin: border-box;
  }

  &:focus-visible {
    @include a11y.focus-ring--button;
  }

  &.bf-button--full-width {
    inline-size: 100%;
  }
}
