@use "../helpers/theme";

.bf-person {
  @include theme.shadow;
  border-block-start: var(--border-width-thick) solid var(--color-primary);
  color: var(--color-canvas-text);
  background-color: var(--color-canvas-background);
}
.bf-person__media {
  aspect-ratio: 1;
  background-color: var(--color-canvas-background-alt);
  background-image: url("images/no-avatar.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 0;
}
.bf-person__image {
  inline-size: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.bf-person__body {
  padding: var(--space-m);
}
.bf-person__name {
  margin-block-start: 0;
  margin-block-end: var(--space-3xs);
}
