@use "../helpers/theme";

.bf-person {
  color: var(--color-header-text);
  background-color: var(--color-header-background);
  @include theme.shadow;

  border-end-start-radius: var(--radius-regular);
  border-end-end-radius: var(--radius-regular);
}

.bf-person__image {
  aspect-ratio: 1;

  img {
    inline-size: 100%;
    aspect-ratio: 1;
    object-fit: cover;

    border-start-start-radius: 0;
    border-start-end-radius: 0;
  }
}

.bf-person__body {
  padding: var(--space-s);
}

.bf-person__name {
  margin-block: 0;
}

.bf-person__role {
  margin-block-start: var(--space-xs);
  margin-block-end: 0;
}
