@use "../helpers/media-queries";
@use "../helpers/theme";

$_breakpoint: "tablet";

.bf-splash {
  padding-block-end: var(--space-l);
  background-color: var(--color-canvas-background-alt);
}

.bf-splash__media {
  block-size: 100%;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  position: relative;

  @include media-queries.query($from: $_breakpoint) {
    aspect-ratio: 4 / 1;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

.bf-splash__container {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gutter);
  margin-block-start: calc(0px - var(--space-xl));
  position: relative;

  @include media-queries.query($from: $_breakpoint) {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}

.bf-splash__card {
  @include theme.shadow;
  inline-size: 100%;
  max-inline-size: 25rem;
  padding: var(--space-m);
  border-block-start: var(--border-width-thick) solid var(--color-primary);
  background-color: var(--color-canvas-background);
}
