.bf-warning {
  display: flex;
  gap: var(--space-m);
  margin-block-end: var(--space-m);
  padding: calc(var(--space-m) - var(--border-width-hairline));
  border: var(--border-width-hairline) solid var(--color-canvas-background-alt);
  background-color: var(--color-canvas-background-alt);
}

.bf-warning__symbol {
  flex-shrink: 0;
  padding-block-start: 0.25em;
  inline-size: 1.75em;
  block-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-raw-white);
  background-color: var(--color-raw-red);
  font-size: var(--font-size-xl);
  font-weight: bold;
  line-height: 1.5em;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  user-select: none;
  forced-color-adjust: none;

  @media (forced-colors: active) {
    color: Background;
    background-color: WindowText;
  }
}

.bf-warning__text {
  font-weight: bold;
}
