{%- if siteMetadata.developmentMode %}
<div style="padding-block: var(--space-xs); color: var(--color-canvas-background-alt); background-color: var(--color-canvas-text);">
  <div class="bf-container">
    <p class="bf-small-print bf-!-margin-0">This is a development version of the BristolFurs website. Content may be incorrect and things may appear broken. <a class="bf-link-camoflage" href="//bristolfurs.co.uk">Visit bristolfurs.co.uk</a> for current furmeet information.</p>
  </div>
</div>
<script id="debug-page" type="application/json">
  {{ page | dump | safe }}
</script>
<script id="debug-siteMetadata" type="application/json">
  {{ siteMetadata | dump | safe }}
</script>
<script id="debug-eleventy" type="application/json">
  {{ eleventy | dump | safe }}
</script>
{%- endif %}