{%- if emergencyBannerText %}
  <section class="bf-emergency-banner" aria-labelledby="emergency-title">
    <div class="bf-container">
      <div class="bf-emergency-banner__inner">
        <h2 class="bf-heading-l bf-!-margin-0" id="emergency-title">
          <span>{{- emergencyBannerText.title -}}</span>
        </h2>
        <div>
          <span>{{- emergencyBannerText.body | safe -}}</span>
        </div>
      </div>
    </div>
  </section>
{%- endif %}