{%- if emergencyBannerText %}
	<section class="bf-alert-banner" aria-label="Alert">
		<div class="bf-container">
			<div class="bf-alert-banner__inner">
				{{- emergencyBannerText -}}
			</div>
		</div>
	</section>
{%- endif %}