<div class="bf-splash">
  {% image "homepage.jpg", "A group of people, some in fursuit, some not, standing in formation and smiling at the camera.", { class: "bf-splash__media", loading: "eager" } %}
  <div class="bf-container">
    <div class="bf-splash__content">
      <h1 class="bf-heading-2xl bf-!-margin-block-start-0 bf-!-margin-block-end-m">
        <div class="bf-body-l bf-!-margin-block-end-3xs">Next furmeet:</div>
        {{ meetInfo.nextMeetDate | formatDate('EEEE, do MMMM yyyy') }}
      </h1>
      {%- if meetInfo.schedule %}
        <dl class="bf-schedule">
          {%- for row in meetInfo.schedule %}
            <dt class="bf-schedule__time">
              {{ row.startTime }}
            </dt>
            <dd class="bf-schedule__content">{{ row.name }}</dd>
          {%- endfor %}
        </dl>
      {%- endif %}
      <a class="bf-button bf-button--full-width" href="#">
        <span>Meet information</span>
      </a>
    </div>
  </div>
</div>