{% from "components/social-links.njk" import socialLinks %}

{% macro person(params) %}
<article class="bf-person">
  <div class="bf-person__media">
    {%- if params.avatar %}
      {% image params.avatar, params.name, { class: "bf-person__image" } %}
    {%- endif %}
  </div>
  <div class="bf-person__body">
    <h3 class="bf-heading-l bf-person__name">
      {{ params.name }}
      {%- if params.role %} ({{ params.role }}){% endif %}
    </h3>
    {%- if params.pronouns %}
      <p class="bf-body">{{ params.pronouns }}</p>
    {%- endif %}
    {%- if caller %}
      <div class="bf-prose">
        {{ caller() }}
      </div>
    {% endif %}
    {{ socialLinks({
      links: params.socialLinks,
      attributes: {
        "aria-label": params.name + " on socials"
      }
    }) }}
  </div>
</article>
{% endmacro %}