{% from "components/social-links.njk" import socialLinks %}

{% macro person(params) %}
<article class="bf-person">
  {%- if params.avatar %}
    {% image params.avatar, params.name, params.avatarAttribution, { class: "bf-person__image" } %}
  {%- else %}
    {% image "no-avatar.png", params.name, params.avatarAttribution, { class: "bf-person__image" } %}
  {%- endif %}
  <div class="bf-person__body">
    <h3 class="bf-heading-l bf-person__name">
      {{ params.name }}
      {%- if params.pronouns %}
        ({{ params.pronouns }})
      {%- endif %}
    </h3>
    {%- if params.role %}
    <p class="bf-body bf-person__role">
      {{ params.role }}
    </p>
    {% endif %}
  </div>
</article>
{% endmacro %}