{% from "components/social-links.njk" import socialLinks %}

{% macro person(params) %}
<article class="bf-person">
  {%- if params.avatar %}
    {% image params.avatar, params.name, params.avatarAttribution, { class: "bf-person__image" } %}
  {%- else %}
    {% image "no-avatar.png", params.name, params.avatarAttribution, { class: "bf-person__image" } %}
  {%- endif %}
  <div class="bf-person__body">
    <h3 class="bf-heading-l bf-person__name">
      {{ params.name }}
    </h3>
    {%- set meta = [params.role, params.pronouns, params.species ] | removeNullOrUndefinedFromArray %}
    {%- if meta | length > 0 %}
    <p class="bf-body-s bf-person__role">
      {{ meta | join(" &middot ") | safe }}
    </p>
    {% endif %}
  </div>
</article>
{% endmacro %}