@font-face {
	font-family: "Open Sans";
	src: url("../webfonts/OpenSansVariable-Regular.ttf") format("truetype");
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../webfonts/OpenSansVariable-Italic.ttf") format("truetype");
	font-weight: 300 800;
	font-stretch: 75% 100%;
	font-style: italic;
	font-display: swap;
}
