@use "../helpers/a11y";

@mixin _common-styles {
  color: var(--color-link);
  text-decoration-skip-ink: none;
  &:focus-visible {
    @include a11y.focus-ring--inline;
  }
}

.bf-link {
  @include _common-styles;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  &:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }
}

.bf-link-camoflage {
  @extend .bf-link;
  color: inherit;
}

.bf-link-no-underline {
  @include _common-styles;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }
}
