@use "../helpers/layout";
@use "../helpers/links";
@use "../helpers/typography";

.bf-back-link {
  $arrow-thickness: 3px;
  $arrow-height: 0.7em;
  @include layout.responsive-margin(4, $direction: "block-end");
  @include links.link;
  @include typography.font-size("xs");
  display: inline-flex;
  align-items: center;
  &::before {
    @include layout.responsive-margin(2, $direction: "inline-end");
    content: "";
    display: inline-block;
    inline-size: $arrow-height * 0.666;
    block-size: $arrow-height;
    background-color: currentcolor;
    clip-path: polygon(
      100% 0,
      calc(100% - #{$arrow-thickness}) 0,
      0 50%,
      calc(100% - #{$arrow-thickness}) 100%,
      100% 100%,
      #{$arrow-thickness} 50%
    );
  }
}
