@use "../settings";
@use "../helpers/layout";
@use "../helpers/media-queries";

@use "sass:list";

.bf-grid {
  $half-gutter: layout.spacing(settings.$bf-container-gutter) * 0.5;
  display: flex;
  flex-wrap: wrap;
  margin-inline: 0 - $half-gutter;
  &__column {
    padding-inline: $half-gutter;
  }
}

@each $name, $width in settings.$bf-grid {
  .bf-grid__column--#{$name} {
    width: $width;
  }
}

@each $breakpoint, $value in settings.$bf-breakpoints {
  @include media-queries.query($from: $breakpoint) {
    @each $name, $width in settings.$bf-grid {
      .#{$breakpoint}\:bf-grid__column--#{$name} {
        width: $width;
      }
    }
  }
}
