@use "../settings/breakpoints";

@use "../helpers/a11y";
@use "../helpers/colors";
@use "../helpers/layout";
@use "../helpers/links";
@use "../helpers/media-queries";
@use "../helpers/reset";
@use "../helpers/typography";

@use "sass:map";

// Breakpoint at which the menu switches between 'mobile' (hidden behind button)
// and being persistently visible
$_js-breakpoint: map.get(breakpoints.$bf-breakpoints, "mobile");

.bf-masthead {
  border-block-end: layout.border-width("thick") solid colors.get-color("furniture");
  color: colors.get-color("text-inverse");
  background-color: colors.get-color("page-background-inverse");
}

.bf-masthead__inner {
  position: relative;
}

.bf-masthead__branding {
  @include layout.responsive-padding(3, $direction: "block");
  @include typography.font-size("l");
  display: inline-flex;
  align-items: end;
  color: currentcolor;
  text-decoration: none;
  &:hover {
    .bf-masthead__branding-text {
      text-decoration: underline;
      text-decoration-color: colors.get-color("text-inverse");
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.1em;
    }
  }
  &:focus-visible {
    outline: none;
    .bf-masthead__branding-text {
      @include a11y.focus-ring;
    }
  }
}

.bf-masthead__branding-logo {
  inline-size: auto;
  block-size: 1.5em;
  color: colors.get-color("text-inverse");
}

.bf-masthead__branding-text {
  @include typography.heading-font;
  margin-inline-start: 0.25em;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  color: currentcolor;
}

.bf-masthead__nav-toggle {
  @include reset.button;
  @include layout.responsive-padding(2, $direction: "block");
  @include layout.responsive-padding(3, $direction: "inline");
  display: inline-flex;
  align-items: center;
  position: absolute;
  inset-block-start: 1.15rem;
  inset-inline-end: 0;
  color: currentcolor;
  font-weight: 600;
  text-decoration: none;
  &[hidden] {
    display: none;
  }
  &:hover span,
  &[aria-expanded="true"] span {
    text-decoration: underline;
    text-decoration-color: colors.get-color("text-inverse");
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }
  &[aria-expanded="true"] {
    &::after {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
    }
  }
  &:focus-visible {
    outline: none;
    span {
      @include a11y.focus-ring;
    }
  }
  &::after {
    @include layout.responsive-margin(1, $direction: "inline-start");
    content: "";
    display: block;
    inline-size: 0.666rem;
    block-size: 0.666rem;
    background-color: currentcolor;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.bf-masthead__nav {
  --js-breakpoint: #{$_js-breakpoint};
}

.bf-masthead__nav-list {
  margin: 0;
  @include layout.responsive-margin(3, $direction: "block-end");
  padding: 0;
  list-style: none;
}

.bf-masthead__nav-item {
  @include media-queries.query($to: $_js-breakpoint) {
    @include layout.responsive-padding(1, $direction: "block");
  }
  @include media-queries.query($from: $_js-breakpoint) {
    display: inline-block;
    @include layout.responsive-margin(3, $direction: "inline-end");
  }
}

.bf-masthead__nav-link {
  @include links.link-inverse;
  font-weight: bold;
}
