@use "../settings/breakpoints";

@use "sass:map";

@mixin query($from: null, $to: null, $and: null) {
  $map: breakpoints.$bf-breakpoints;
  $query: "";

  @if $from {
    $query: "#{$query} (min-width: #{if(map.has-key($map, $from), map.get($map, $from), $from)})";
  }

  @if $to {
    @if $from {
      $query: "#{$query} and";
    }
    $query: "#{$query} (max-width: #{if(map.has-key($map, $to), map.get($map, $to), $to) - 1px})";
  }

  @if $and {
    $query: "#{$query} #{$and}";
  }

  @media screen and #{$query} {
    @content;
  }
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}
