@use "../settings/breakpoints";

@use "sass:map";

@mixin query($from: null, $to: null, $and: null) {
	$map: breakpoints.$bf-breakpoints;
	$query: "";

	@if map.has-key($map, $from) {
		$query: "#{$query} (min-width: #{map.get($map, $from)})";
	}

	@if $to {
		@if map.has-key($map, $from) and map.has-key($map, $to) {
			$query: "#{$query} and";
		}
		@if map.has-key($map, $to) {
			$query: "#{$query} (max-width: #{map.get($map, $to) - 1px})";
		}
	}

	@if $and {
		$query: "#{$query} #{$and}";
	}

	@media screen and #{$query} {
		@content;
	}
}

@mixin dark-mode {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin print {
	@media print {
		@content;
	}
}
