{% extends 'src/_layouts/layout.njk' %}

{% block main %}
  <div class="bf-container bf-!-margin-block-6">
    <div class="bf-grid">
      <div class="bf-grid__column bf-grid__column--full-width tablet:bf-grid__column--two-thirds">
        {%- if backLink %}
          <a class="bf-back-link" href="{{ backLink.href | url }}">{{ backLink.text }}</a>
        {%- endif %}
        <h1 class="bf-heading-xl">{{ title }}</h1>
        <div class="bf-prose">
          {{ content | safe }}
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}