{% extends 'src/_layouts/layout.njk' %}

{% block beforeMain %}
  {% if subnavigation %}
    <nav class="bf-subnavigation" aria-label="Section navigation">
      <div class="bf-container bf-subnavigation__inner">
        <ul class="bf-subnavigation__list">
          {%- for item in subnavigation %}
            <li class="bf-subnavigation__item">
              <a class="bf-link-no-underline bf-subnavigation__link" href="{{ item.href | url }}">
                {{- item.html | safe if item.html else item.text -}}
              </a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </nav>
  {% endif %}
{% endblock %}

{% block main %}
  <article class="bf-!-margin-block-end-xl">
  
    <header class="bf-landing">
      <div class="bf-container">
      
        <h1 class="bf-heading-4xl">
          {%- if pretitle %}
            <div class="bf-heading-2xl bf-!-margin-block-start-0 bf-!-margin-block-end-2xs">{{ pretitle }}</div>
          {%- endif %}
          {{ title }}
        </h1>
        
        {%- if lede %}
          <p class="bf-body-l bf-!-margin-block-end-0">{{ lede }}</p>
        {%- endif %}
        
      </div>
    </header>
    
    <div class="bf-container bf-prose">
      {{ content | safe }}
    </div>
    
  </article>
{% endblock %}