{%- set webfontUrl =
  'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap'
-%}
<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    {# Technical metadata #}
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover" />
    {%- if siteMetadata.developmentMode or metadata.noRobots %}
      <meta name="robots" content="noindex, nofollow" />
    {%- endif %}
    
    {# Stylesheets #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
      media="print"
      href="{{ webfontUrl }}"
      onload="this.media='all'" />
    <noscript>
      <link rel="stylesheet" media="all" href="{{ webfontUrl }}" />
    </noscript>
    <link rel="stylesheet" media="all" href="{{ '/assets/styles.css' | url | cachebust }}" />
    
    {# Theming and favicons #}
    <meta name="theme-color" content="#bc0031">
    <link rel="icon" href="{{ '/assets/icons/favicon.ico' | url }}" sizes="32x32">
    <link rel="icon" href="{{ '/assets/icons/favicon.svg' | url }}" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/assets/icons/icon-180.png' | url }}">
    <link rel="mask-icon" href="{{ '/assets/icons/icon-mask.svg' | url }}" color="#bc0031">
    <link rel="manifest" href="{{ '/assets/icons/manifest.json' | url }}">
    
    {#- Content metadata / OpenGraph #}
    <link rel="canonical" href="{{ siteMetadata.domainName + page.url | url }}">
    <meta property="og:url" content="{{ siteMetadata.domainName + page.url | url }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="{{ metadata.title | default(title) | default(siteMetadata.name) }}">
    <meta property="og:site_name" content="{{ siteMetadata.name }}">
    <meta property="og:image" content="{{ '/assets/icons/opengraph.png' | url }}">
    <meta property="og:type" content="website">
    {%- if metadata.description %}
      <meta name="description" content="{{ metadata.description }}">
      <meta property="og:description" content="{{ metadata.description }}">
    {%- endif %}
    
    {# Page title #}
    <title>
      {%- if metadata.title or title %}
        {{ metadata.title | default(title) }} &mdash;
      {% endif %}{{- siteMetadata.name -}}
    </title>
  </head>
  <body>
    {% include 'development-tag.njk' %}
  
    {% block topOfPage %}
      <a class="bf-skiplink" href="#main-content">Skip to content</a>
    {% endblock %}

    <div class="bf-page-container">
      {% block header %}
        {% include 'emergency-banner.njk' %}
        {% include 'global-header.njk' %}
      {% endblock %}

      <main class="bf-main {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content">
        {% block beforeMain %}
          {# Placeholder #}
        {% endblock %}
        
        {% block main %}
          {# Placeholder #}
        {% endblock %}
        
        {% block afterMain %}
          {# Placeholder #}
        {% endblock %}
      </main>

      {% block footer %}
        {% include 'global-footer.njk' %}
      {% endblock %}
    </div>

    {% block bottomOfPage %}
      {# Placeholder #}
    {% endblock %}

    {% block scripts %}
      <script type="module">
        import { initAll } from '{{ '/assets/all.mjs' | url | cachebust }}'
        initAll()
      </script>
    {% endblock %}
  </body>
</html>
