---
title: Venue information
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}

<div class="bf-container bf-!-margin-block-6">
  <h1 class="bf-heading-xl">Our venues</h1>
  <p class="bf-body-l">Cillum consequat velit esse quis voluptate laboris ipsum magna id elit nisi nisi et excepteur. Aute aliqua qui id nostrud cupidatat esse eu velit est ut.</p>
  
  <hr class="bf-rule">
  
  <h2 class="bf-heading-l">The Boardroom</h2>
  
  <hr class="bf-rule">
  
  <h2 class="bf-heading-l">Starbucks Temple Quay<br>(pre-meet venue)</h2>

</div>

{% endblock %}
