---
title: The Boardroom venue information
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}

<div class="bf-container bf-!-margin-block-6">
	<h1 class="bf-heading-xl">The Boardroom</h1>
	<p class="bf-body-l">20 St Nicholas Street<br>Bristol<br>BS1 1UB</p>
	
	<h2 class="bf-heading-l">Accessibility information</h2>
	
	{% markdown %}
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione sed placeat molestias sit neque, nihil libero quam iure, eligendi deserunt soluta quia. Distinctio deleniti quaerat, eius dignissimos voluptas eos iste!
	{% endmarkdown %}
	
	<h2 class="bf-heading-l">Getting to The Boardroom</h2>
	
	{% markdown %}
Commodo ipsum consectetur veniam deserunt sit quis eiusmod labore voluptate laboris commodo velit incididunt. Lorem nostrud est voluptate minim aute irure magna mollit occaecat velit. Non aute Lorem esse consectetur est magna cupidatat nostrud. Esse id ipsum ipsum veniam et.
	{% endmarkdown %}

</div>

{% endblock %}
