---
# Technical data
layout: article.njk

# Content
title: Frequently asked questions
backLink:
  text: Attending a meet
  href: /attending-a-meet/
---

{% faq "Do I need to register? Is there an entry fee?" %}
Nope! Just come along! We’d love to know you’re coming, let us know on our [socials]({{ '/contact-us/' | url }}).

If you wanted to provide a donation to help the meets, you can [support us]({{ '/support-us/' }}) online or donate cash at the meets
{% endfaq %}

{% faq "Do I need a fursuit?" %}
Fursuits aren’t required to be a furry or to attend our meets! 

We’d love for you to bring your fursuit if you have one, see our [fursuiting guide]({{ '/attending-a-meet/fursuiting/' }}) for more info.
{% endfaq %}

{% faq "Do you have an age restriction?" %}
Yes. BristolFurs meets and online social spaces are 18+ only as of July 2023.
{% endfaq %}

{% faq "Can I hug the fursuiters?" %}
Only if you’ve asked first. Many of them would be glad to, but many will not. **Never hug or touch a fursuiter (or any other attendee) without their express permission.**
{% endfaq %}

{% faq "Can I take pictures at the meet?" %}
We regularly have organised group photo ops as well as the fursuit walk where you’re welcome to take pictures. 

Please seek permission to photograph or record individuals or small groups.

We ask you to refrain from taking pictures or recording inside the upstairs meet space without the prior permission of everyone in frame.
{% endfaq %}
