$_shadow-thickness: 4px;

@mixin -focus-ring-override {
  @media (forced-colors: active) {
    outline: 2px solid Highlight;
  }
}

@mixin focus-ring--inline {
  outline: none;
  color: var(--color-focus-text);
  background-color: var(--color-focus-background);
  text-decoration: none;
  box-shadow: 0 $_shadow-thickness 0 0 var(--color-focus-text);
  @include -focus-ring-override;
}

@mixin focus-ring--input {
  outline: none;
  box-shadow:
    0 0 0 $_shadow-thickness var(--color-focus-text),
    0 0 0 ($_shadow-thickness * 2) var(--color-focus-background);
  @include -focus-ring-override;
}

@mixin focus-ring--button {
  outline: none;
  color: var(--color-focus-text);
  background-color: var(--color-focus-background);
  text-decoration: none;
  box-shadow: 0 0 0 $_shadow-thickness var(--color-focus-text);
  @include -focus-ring-override;
}

@mixin visually-hidden($important: false) {
  block-size: 1px if($important, !important, null);
  inline-size: 1px if($important, !important, null);
  position: absolute if($important, !important, null);
  overflow: hidden if($important, !important, null);
  white-space: nowrap if($important, !important, null);
  clip: rect(0 0 0 0) if($important, !important, null);
  clip-path: inset(50%) if($important, !important, null);
}
