@mixin button {
  padding: 0;
  border: none;
  border-radius: 0;
  color: inherit;
  background: none;
  font: inherit;
  &:not([disabled]) {
    cursor: pointer;
  }
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}
