$_scale: (0, 3xs, 2xs, xs, s, m, l, xl, 2xl, 3xl);
$_directions: (all, block, block-start, block-end, inline, inline-start, inline-end);

@each $size in $_scale {
  @each $dir in $_directions {
    $suffix: if(
      sass($dir != "all"): "-" + $dir,
    );

    .bf-\!-margin#{$suffix}-#{$size} {
      margin#{$suffix}: if(sass($size == 0): 0; else: var(--space-#{$size})) !important;
    }
    .bf-\!-padding#{$suffix}-#{$size} {
      padding#{$suffix}: if(sass($size == 0): 0; else: var(--space-#{$size})) !important;
    }
  }
}
