{% extends 'src/_layouts/layout.njk' %}

{% from "components/brochure.njk" import brochure %}

{% block main %}
  {% include 'meet-banner.njk' %}
  
  <div class="bf-container">
  
    {% call brochure({
      title: {
        text: "Fursuiting at BristolFurs"
      },
      href: "/fursuiting/",
      button: {
        html: 'More information <span class="bf-!-sr">about fursuiting</span>'
      },
      image: {
        src: "//placeholder.rocks/600/600/3"
      }
    }) %}
      <p>Tempor pariatur laborum pariatur exercitation dolor eu labore est deserunt.</p>
    {% endcall %}
  
  </div>
{% endblock %}
