{% extends 'src/_layouts/layout.njk' %}

{% from "components/brochure.njk" import brochure %}

{% block main %}
  {% include 'meet-banner.njk' %}
  
  <div class="bf-container">
  
    {% call brochure({
      title: {
        text: "Fursuiting at BristolFurs"
      },
      href: "/attending-a-meet/fursuiting/",
      button: {
        html: 'More information <span class="bf-!-sr">about fursuiting</span>'
      },
      image: {
        src: "cookie-fursuit.jpg",
        alt: "Placeholder image",
        credit: "Kirin Eldridge"
      }
    }) %}
      <p>We love to see people bring their fursuits! We have changing facilities and storage space available.</p>
    {% endcall %}
    
    {% call brochure({
      title: {
        text: "Upcoming meets"
      },
      image: {
        src: "http://placeholder.rocks/600/600/4",
        alt: "Placeholder image"
      }
    }) %}
      <p>Our next meets are scheduled to take place on:</p>
      <ol class="bf-list bf-list--bulleted">
        {%- for date in meetInfo.next6MeetDates %}
          <li>{{ date | formatDate('do MMMM yyyy') }}</li>
        {%- endfor %}
      </ol>
      <p class="bf-small-print">Dates are subject to change.</p>
    {% endcall %}
  
  </div>
{% endblock %}
