---
title: Meet the team
---

{% extends 'src/_layouts/layout.njk' %}

{% block main %}
	<div class="bf-container bf-!-margin-block-6">
		<h1 class="bf-heading-xl">{{ title }}</h1>
		<p class="bf-body-l">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis magnam alias quam quas magni debitis, quaerat sed ab harum quo facere quisquam aut nostrum, aliquam qui. Minus, atque explicabo?</p>
		
		<h2 class="bf-heading-l">Committee</h2>
		<div class="bf-prose">
			<p>In tempor est et voluptate. Lorem commodo amet proident proident fugiat Lorem deserunt est sint commodo consectetur amet laborum amet. Officia non et consequat nostrud esse excepteur.</p>
		</div>
		<div class="bf-grid">
			{%- for person in staff.committee %}
				{{ _person(person) }}
			{%- endfor %}
		</div>
		
		<h2 class="bf-heading-l">Meet moderators</h2>
		<div class="bf-prose">
			<p>Exercitation ex cupidatat exercitation excepteur cillum tempor ut excepteur incididunt. Voluptate qui laboris nostrud quis laboris laborum labore occaecat labore tempor irure dolor ad. Quis commodo dolore ea occaecat ipsum non.</p>
		</div>
		<div class="bf-grid">
			{%- for person in staff.meetModerators %}
				{{ _person(person) }}
			{%- endfor %}
		</div>
		
		<h2 class="bf-heading-l">Chat moderators</h2>
		<div class="bf-prose">
			<p>Proident nulla dolore sunt ipsum deserunt. Commodo ullamco fugiat nulla irure consectetur. Do Lorem quis sunt nostrud. Tempor voluptate excepteur ex eiusmod ipsum sunt.</p>
		</div>
		<div class="bf-grid">
			{%- for person in staff.chatModerators %}
				{{ _person(person) }}
			{%- endfor %}
		</div>
		
	</div>
{% endblock %}

{% macro _person(person) %}
	<div class="bf-grid__column bf-grid__column--full-width mobile:bf-grid__column--one-half tablet:bf-grid__column--one-third">
		{%- set imageUrl = ('/images/' + person.avatar if person.avatar else '/assets/images/no-avatar.png') | url %}
		{%- set socialLinksName = person.name %}
		{%- set socialLinksList = person.socialLinks %}
		<img class="bf-!-margin-block-end-1" alt="" src="{{ imageUrl }}">
		<p class="bf-body-l bf-!-margin-block-end-0">{{ person.name }}</p>
		{%- if person.title %}
			<p class="bf-body">{{ person.title }}</p>
		{% endif %}
		{%- if person.biography %}
			<div class="bf-prose">
				{% markdown %}{{ person.biography }}{% endmarkdown %}
			</div>
		{%- endif %}
		{%- if socialLinksList %}
			{% include 'social-links.njk' %}
		{%- endif %}
	</div>
{% endmacro %}