---
# Technical data
layout: landing.njk

# Content
title: Meet the BristolFurs team
lede: Furmeets are hard. Round of applause for those who make them happen. 👏👏👏
---

{% from "components/person.njk" import person %}

<h2 class="bf-heading-3xl">Staff committee</h2>

<div class="bf-prose">
  <p>These are the top dogs, the head honchos, the giant rats that make all of the rules. Listen to their wisdom or suffer their wrath.</p>
</div>

<div class="bf-grid-cards">
{%- for item in staff.committee %}
  {% call person(item) %}{{ item.biography }}{% endcall %}
{%- endfor %}
</div>

<h2 class="bf-heading-3xl">Meet moderators</h2>

<div class="bf-prose">
  <p>These are the staff that help make the meets happen.</p>
</div>

<div class="bf-grid-cards bf-grid-cards--smol">
{%- for item in staff.meetModerators %}
  {{ person(item) }}
{%- endfor %}
</div>

<h2 class="bf-heading-3xl">Chat moderators</h2>

<div class="bf-prose">
  <p>These staff monitor our social spaces to make sure everyone is on their best behaviour... or else.</p>
</div>

<div class="bf-grid-cards bf-grid-cards--smol">
{%- for item in staff.chatModerators %}
  {{ person(item) }}
{%- endfor %}
</div>

<h2 class="bf-heading-3xl">Friends of the meet</h2>

<div class="bf-prose">
  <p>These people aren't actually on the BristolFurs staff, but they donate their time in one way or another that we really appreciate.</p>
</div>

<div class="bf-grid-cards bf-grid-cards--smol">
{%- for item in staff.other %}
  {{ person(item) }}
{%- endfor %}
</div>

<h3 class="bf-heading-2xl">Fursuit walk volunteers</h3>

<div class="bf-prose">
  <p>Many meets have volunteers to assist with the fursuit walk. They're too numerous to name, but in return they get to wear funky purple hi-vis vests! Thank you, random volunteers.</p>
  {% image "walk-volunteers.jpg", "People, a mix of fursuiters and none, walking away from the camera. In the foreground is a person wearing a purple, BristolFurs-branded hi-vis vest.", "Kirin Eldridge" %}
</div>
