// Neutrals
$bf-color-white: #fff;
$bf-color-black: #18020c;
$bf-color-mid-grey: #74776b;
$bf-color-dark-grey: #48483a;

// Light-mode theme colours (must have 4.5:1 ratio with #fff)
$bf-color-red: #bc0031;
$bf-color-blue: #0015bc;
$bf-color-green: #007a91;
$bf-color-purple: #5a00c3;

// Dark mode theme colours (must have 4.5:1 ratio with #18020c)
$bf-color-red-light: #f9dadc;
$bf-color-blue-light: #dcdcf8;
$bf-color-green-light: #85aebc;
$bf-color-purple-light: #9882d7;

// Colours mapped to semantic purposes
// CSS variables are made outta these
$bf-color-palette-semantic: (
	canvas-background: (
		light: $bf-color-white,
		dark: $bf-color-black,
	),
	page-background: (
		light: $bf-color-white,
		dark: $bf-color-black,
	),
	text: (
		light: $bf-color-black,
		dark: $bf-color-white,
	),
	furniture: (
		light: $bf-color-mid-grey,
		dark: $bf-color-dark-grey,
	),
	primary: (
		light: $bf-color-red,
		dark: $bf-color-red-light,
	),
	secondary: (
		light: $bf-color-blue,
		dark: $bf-color-blue-light,
	),
	tertiary: (
		light: $bf-color-green,
		dark: $bf-color-green-light,
	),
	supporter: (
		light: $bf-color-purple,
		dark: $bf-color-purple-light,
	),
);
