// Enable dark mode
// (It's not ready yet)
$bf-use-dark-mode: false;

// Neutrals
$bf-color-white: #fff8f8;
$bf-color-black: #18020c;

// Light-mode theme colours (must have 4.5:1 ratio with #fff)
$bf-color-red: #bc0031;
$bf-color-blue: #0015bc;
$bf-color-yellow: #f5c618;

// Dark mode theme colours (must have 4.5:1 ratio with #18020c)
$bf-color-red-light: #f9dadc;
$bf-color-blue-light: #dcdcf8;

// Colours mapped to semantic purposes
// CSS variables are made outta these
$bf-color-palette-semantic: (
  page-background: (
    light: $bf-color-white,
    dark: $bf-color-black,
  ),
  text: (
    light: $bf-color-black,
    dark: $bf-color-white,
  ),
  page-background-inverse: (
    light: $bf-color-red,
    dark: $bf-color-red,
  ),
  text-inverse: (
    light: $bf-color-white,
    dark: $bf-color-white,
  ),
  furniture: (
    light: $bf-color-black,
    dark: $bf-color-white,
  ),
  link: (
    light: $bf-color-red,
    dark: $bf-color-red,
  ),
  supporter: (
    light: $bf-color-blue,
    dark: $bf-color-blue-light,
  ),
  focus-text: (
    light: $bf-color-black,
    dark: $bf-color-black,
  ),
  focus-background: (
    light: $bf-color-yellow,
    dark: $bf-color-yellow,
  ),
  emergency-background: (
    light: $bf-color-yellow,
    dark: $bf-color-yellow,
  ),
  emergency-text: (
    light: $bf-color-black,
    dark: $bf-color-black,
  ),
);
