// Root font size
// Used for rem font-size calculations. 16px is the default in most browsers
// unless a user has actively changed it.
$bf-root-font-size: 16px;

// Body font stack
$bf-body-font-stack: (Poppins, Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif);

// Heading font stack
$bf-heading-font-stack: $bf-body-font-stack;

// Monospace font stack
$bf-mono-font-stack: (ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace);

// Font sizes
// 'null' (mobile) uses a very shallow modular scale (1:1.25)
// tablet uses a slightly steeper modular scale (1:1.4)
// desktop uses a very steep scale, with a very large final font size ()
$bf-font-sizes: (
  "xs": (
    null: 12px,
    tablet: 14px,
  ),
  "s": (
    null: 14px,
    tablet: 16px,
  ),
  "m": (
    null: 16px,
    tablet: 19px,
  ),
  "l": (
    null: 23.75px,
    tablet: 26.6px,
  ),
  "xl": (
    null: 29.688px,
    tablet: 37.24px,
  ),
  "xxl": (
    null: 37.109px,
    tablet: 52.136px,
  ),
);
